<header-top></header-top>
<div class="order-div">

  <div class="container">
    <br>
    <div class="top">
      <!-- <p>top</p> -->
      <div class="header_left">
        <a href="#">
          <img src="assets/images/home/mmloo.png" class="imgsize">
        </a>
      </div>

      <div class="header_right">
        <ul>
          <li class="">
            <i class="glyphicon glyphicon-shopping-cart"></i>
            <HR style="FILTER: progid:DXImageTransform.Microsoft.Shadow(color:#987cb9,direction:145,strength:15)" width="80%" color=#987cb9 SIZE=1>
            <p>&nbsp我的购物车&nbsp</p>

          </li>

          <li class="current">
            <i class="glyphicon glyphicon-pencil"></i>
            <HR style="FILTER: progid:DXImageTransform.Microsoft.Shadow(color:#987cb9,direction:145,strength:15)" width="80%" color=#987cb9 SIZE=1>
            <p>&nbsp填写核对购物信息&nbsp</p>

          </li>

          <li class="">
            <i class="glyphicon glyphicon-credit-card"></i>
            <HR style="FILTER: progid:DXImageTransform.Microsoft.Shadow(color:#987cb9,direction:145,strength:15)" width="80%" color=#987cb9 SIZE=1>
            <p>&nbsp支付提交&nbsp</p>

          </li>

          <li class="">
            <i class="glyphicon glyphicon-thumbs-up"></i>
            <HR style="FILTER: progid:DXImageTransform.Microsoft.Shadow(color:#987cb9,direction:145,strength:15)" width="80%" color=#987cb9 SIZE=1>
            <p>&nbsp订单完成&nbsp</p>
          </li>
        </ul>
      </div>
    </div>
    <HR style="FILTER: progid:DXImageTransform.Microsoft.Shadow(color:#987cb9,direction:145,strength:15)" width="100%" color=#987cb9 SIZE=1>

    <div class="main">
      <h1>填写核对购物信息</h1>
      <p>请仔细核对填写收货、发票等信息，以确保物流快递及时准确投递。</p>
      <br>
      <h3>收货人信息
        <a href="">[新增]</a>
      </h3>
      <div class="receive">
        <div class="receive-box">

          <p>使用新地址</p>
          <ng-form name='orderForm'>
            <input type="hidden" value="buy" name="act">
            <input type="hidden" value="add_addr" name="op">
            <input type="hidden" name="form_submit" value="ok">
            <dl>
              <dt>
                <i class="required">*
                </i>收货人姓名：
                <input type="text" class="input1" name="name" maxlength="20" id="true_name" ng-pattern='pattern.reg.name' ng-model='OrderCtrl.logistics.name' required>
                <div class="alert alert-danger" ng-show="orderForm.name.$error.pattern">
                    {{pattern.msg.name}}
                </div>
              </dt>

            </dl>
            <dl>
              <dt>

                <div>
                  <i class="required">*
                  </i>所在地区:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <select class="input1" name='province' ng-model='OrderCtrl.logistics.province' required>
                    <option>-请选择-</option>
                    <option value="1">北京</option>
                    <option value="2">天津</option>
                    <option value="3">河北省</option>
                    <option value="4">山西省</option>
                    <option value="5">内蒙古自治区</option>
                    <option value="6">辽宁省</option>
                    <option value="7">吉林省</option>
                    <option value="8">黑龙江省</option>
                    <option value="9">上海</option>
                    <option value="10">江苏省</option>
                    <option value="11">浙江省</option>
                    <option value="12">安徽省</option>
                    <option value="13">福建省</option>
                    <option value="14">江西省</option>
                    <option value="15">山东省</option>
                    <option value="16">河南省</option>
                    <option value="17">湖北省</option>
                    <option value="18">湖南省</option>
                    <option value="19">广东省</option>
                    <option value="20">广西壮族自治区</option>
                    <option value="21">海南省</option>
                    <option value="22">重庆</option>
                    <option value="23">四川省</option>
                    <option value="24">贵州省</option>
                    <option value="25">云南省</option>
                    <option value="26">西藏自治区</option>
                    <option value="27">陕西省</option>
                    <option value="28">甘肃省</option>
                    <option value="29">青海省</option>
                    <option value="30">宁夏回族自治区</option>
                    <option value="31">新疆维吾尔自治区</option>
                    <option value="32">台湾省</option>
                    <option value="33">香港特别行政区</option>
                    <option value="34">澳门特别行政区</option>
                    <option value="35">海外</option>
                  </select>
                  <div class="alert alert-danger" ng-show="orderForm.province.$error.pattern">
                      {{pattern.msg.require}}
                  </div>
                </div>
              </dt>
            </dl>
            <dl>

              <dt>
                <i class="required">*
                </i>详细地址：&nbsp;&nbsp;&nbsp;
                <input type="text" class="address" name="address" id="address" maxlength="80" required ng-model='OrderCtrl.logistics.detail'>
                <div class="alert alert-danger" ng-show="orderForm.address.$error.pattern">
                    {{pattern.msg.require}}
                </div>
                <p class="tip">请填写真实地址，不需要重复填写所在地区</p>
              </dt>
            </dl>
            <dl>

              <dt>
                <i class="required">*
                </i>手机号码：&nbsp;&nbsp;&nbsp;
                <input type="text" class="" name="phone" id="phone" maxlength="15" require ng-pattern='pattern.reg.phone' ng-model='OrderCtrl.logistics.phone'>
                &nbsp;(或)&nbsp;固定电话：
                <input type="text" class="" id="tel_phone" name="tel" maxlength="20" ng-pattern='pattern.reg.tel' ng-model='OrderCtrl.logistics.tel'>
                <div class="alert alert-danger" ng-show="orderForm.phone.$error.pattern">
                    {{pattern.msg.phone}}
                </div>
              </dt>
            </dl>
        </ng-form>

        </div>

      </div>

      <div class="payment">
        <h3>支付方式
          <a href="">[修改]</a>
        </h3>
        <h4>&nbsp;在线支付</h2>
      </div>

      <div class="receipt">
        <h3>发票信息
          <a href="">[修改]</a>
        </h3>
        <h4>&nbsp;不需要发票</h4>
      </div>

      <div class="coupon">
        <h3>使用米券抵消部分金额
          <a href="">[新增]</a>
        </h3>
        &nbsp;<a href="">查看</a>
        <h4>当前我的米券信息</h4>

      </div>

      <div class="cart">
        <h3>商品清单
          <a href="#/cart">返回购物车</a>
        </h3>
        <table class="good_table" border="1">
          <thead class="table_title">
            <tr>
              <!--  <th>
                <label>
                <input type="checkbox" checked="" value="1" id="selectAll">
                全选</label>
                </th> -->
              <th></th>
              <th>商品</th>
              <th class="">单价(元)</th>
              <th class="">数量</th>
              <th class="">小计</th>
              <!-- <th class="">操作</th> -->
            </tr>
          </thead>

          <tbody ng-repeat='order in OrderCtrl.orders'>
            <tr class="table_head">
              <th colspan="20">

                <a target="_blank" href="#" class="glyphicon glyphicon-home">官方店铺</a>
                <a target="_blank" href="#" class=" glyphicon glyphicon-bell"></a>
                <div class="store-sale">
                  <em class="glyphicon glyphicon-gift">免运费</em>
                  <p>满49免运费</p>

                </div>
              </th>
            </tr>

            <tr class="table_middle">
              <!-- <td>
                <input type="checkbox" checked=""  value="85896|1">
                </td> -->

              <td>
                <a href="javascript:void(0)" ng-click='OrderCtrl.setGoodData(order)'>
                  <img ng-src="assets/images/{{order.good.photo[0]}}">
                </a>
              </td>

              <td >
                <dl >
                  <dt>
                    <a href="javascript:void(0)" ng-click='OrderCtrl.setGoodData(order)'>
                      {{order.good.commodity.name}}

                    </a>
                  </dt>
                  <dd></dd>
                </dl>
              </td>

              <td>￥<em>{{order.good.commodity.originalPrice}}</em>
              </td>
              <td>
                <!-- <a href="" onclick="" title="减少商品件数" class="table-btn">-</a> -->
                <input id="" value="1" orig="1" changed="1" onkeyup="" type="text" class="inputer" ng-model='order.count' disabled=true>
                <!-- <a href="" onclick="" title="增加商品件数" class="table-btn">+</a> -->
              </td>

              <td class="">￥<em id="">{{order.count*order.good.commodity.originalPrice}}</em>
              </td>
            </td>
            <!-- <td class="operation">
                <a href="" onclick="">收藏</a>
                <br>
                <br>
                <a href="" onclick="">删除</a>
                </td> -->
          </tr>

          <tr>
            <td colspan="20">
              买家留言:
              <input type="text" name="comment">
            </td>
          </tr>

          <tr>
            <td colspan="20">
              <div class="sum">
                <dl>
                  <p>运费： ￥0.00</p>
                  <p>商品金额: ￥{{order.good.commodity.originalPrice}}</p>
                  <p>
                    <span class="tatol_shop_sum">本店合计: ￥{{order.count*order.good.commodity.originalPrice}}</span>
                  </p>
                </dl>
              </div>
            </td>
          </tr>

        </tbody>
        <tfoot>
            <tr class="table_foot">
            <td colspan="20">
              <div class="total_sum">
                <dl >
                  订单总金额：&nbsp
                  <span class="total_sum_font">￥{{OrderCtrl.priceAll}}
                  </span>元
                </dl>
              </div>
            </td>
          </tr>

        </tfoot>
      </table>

    </div>
    <div calss="cart-submit">
      <div class="cart-submit-right">
        <button class="btn-cart-submit" ng-disabled='orderForm.$invalid' ng-click='OrderCtrl.submitOrder()'>
          <span class="glyphicon glyphicon-ok-sign">提交订单</span>
      </button>
      </div>

    </div>

  </div>

</div>
</div>
