$c5: #4595C6;
$c6: #F8F8F8;
$h4: 115px;
$h5: 140px;
$n1: $h5 - $h4;
$fColor1: #4595C6;
$fColor2: #27ae61;
$fColor3: #2B3282;



.good-div {
  overflow: auto;
  background: $c6;
  .right img {
    height: $h4;
  }
  .long-good {
    img {
      height: 2*$h4 + $n1;
    }
  }
  .navbar {
    margin-top: 15px;
  }
  .row {
    .col-md-10,
    .col-md-12,
    .col-md-2,
    .col-md-3,
    .col-md-6 {}
    position: relative;
    .thumbnail {
      border: none;
      img {
        display: inline-block;
      }
    }
  }
  .navbar {
    border: none;
    margin-bottom: 0;
  }
  @for $i from 1 through 3 {
     @if $i == 1{
      .good-top#{$i} {
        border-bottom: 2px solid $fColor1;
      }
    }
    @if $i == 2 {
      .good-top#{$i} {
        border-bottom: 2px solid $fColor2;
      }
    }
    @if $i == 3 {
      .good-top#{$i} {
        border-bottom: 2px solid $fColor3;
      }
    }
    .good-show {
      background-color: #fff;
      .navbar-brand {
        font-weight: bold;
        font-size: 30px;
        line-height: 30px;
        color: #231816;
        font-family: "微软雅黑";
      }
      .navbar-nav {
        position: relative;
        .floor#{$i} {
          a {
            font-weight: bold;
          }
          @if $i == 1 {
            background: #fff;
            &:hover {
              background: $fColor1;
            }
          }
          @if $i == 2 {
            background: #fff;
            &:hover {
              background: $fColor2;
            }
          }
          @if $i == 3 {
            background: #fff;
            &:hover {
              background: $fColor3;
            }
          }
        }
      }
    }
  }
  .container {
    background-color: #fff;
    position: relative;
    .floor {
      background-color: #4595C6;
      width: 30px;
      height: 35px;
      position: absolute;
      top: 0;
      left: 0;
      text-align: center;
      color: #FFF;
      line-height: 26px;
      font-weight: bold;
      font-size: 20px;
      div {
        width: 0;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 10px solid #FFF;
        position: absolute;
        top: 25px;
        left: 0;
      }
    }
    @for $i from 1 through 3 {
      .floor#{$i} {
        @if $i == 1 {
          background: $fColor1;
          &:hover {
            background: $fColor1;
            a {
              color: #fff;
            }
          }
        }
        @if $i == 2 {
          background: $fColor2;
          &:hover {
            background: $fColor2;
            a {
              color: #fff;
            }
          }
        }
        @if $i == 3 {
          background: $fColor3;
          &:hover {
            background: $fColor3;
            a {
              color: #fff;
            }
          }
        }
      }
    }
    .cates {
      text-align: center;
      height: 350px;
      .cate-msg a {
        display: inline-block;
        margin: 5px;
      }
      margin: 20px;
      a {
        color: #555;
        font-size: 12px;
        text-decoration: none;
      }
        @for $i from 1 through 3 {
            #carousel-example-generic#{$i}-2,
            #carousel-example-generic#{$i}-3 {
                margin-bottom: 10px;
                .item {
                    height: $h4;
                    img {
                        height: $h4;
                        width: 100%;
                    }
                }
            }
            #carousel-example-generic#{$i}-4 {
                .item {
                    height: $h5;
                    img {
                        height: $h5;
                        width: 100%;
                    }
                }
            }
        }

      .good-msg,
      .right {
        text-align: center;
        .price {
          color: red;
        }
      }
    }
    .footer-bottom {
      margin-top: 10px;
    }
  }

  .row1, .row2 {
      height: $h4;
      img {
          height: 100%;
      }
  }
}
