.header {
  // .col-md-4 {
  //     margin: 10px 0;
  // }
  margin-top: 27px;
  .logo {
    width: 212px;
    height: 75px;
  }
  .searchBox {
    background-color: #D93600;
    height: 42px;
    padding: 3px;
    margin-left: 20px;
    input {
      line-height: 36px;
      color: #555;
      width: 82%;
      height: 36px;
      float: left;
      padding: 6px 1%;
      border: none 0;
      _margin-top: -17px;
    }
    button {
      font-size: 14px;
      color: #FFF;
      font-weight: bold;
      background-color: transparent;
      width: 15%;
      height: 36px;
      margin-bottom: 4px;
      vertical-align: middle;
      float: right;
      border: none;
      cursor: pointer;
      _margin-top: -19px;
    }
  }
  .user-menu {
    list-style: none;
    font-size: 0;
    .col-md-4 {
      padding-bottom: 10px;
    }
    a {
      text-decoration: none;
      text-align: center;
      span {
        display: inline-block;
        margin-left: 5px;
        vertical-align: text-bottom;
        color: #666;
        font-size: 16px;
      }
    }
  }

  input, button {
      outline: none !important;
  }
  button {
      &:active {
          background: rgb(217, 76, 39) !important;
          color: #fff !important;
      }
  }

}
