<div class="goods-div">
  <header-top></header-top>
  <div class="adv"></div>
  <search-box></search-box>
  <header-nav></header-nav>

  <div class="container">
    <ol class="breadcrumb">
      <li>
        <span class="glyphicon glyphicon-home"></span>
        <a ui-sref='home'>首页</a>
      </li>
      <li>
        <a ui-sref="category">{{goodCtrl.cateTitle.description}}</a>
      </li>
      <li>
        <a ui-sref="category">{{goodCtrl.cateTitle.name}}</a>
      </li>
      <li class="active">{{goodCtrl.cateTitle.good}}</li>
    </ol>

    <div class="row row1">
      <div class="col-md-4 left">
        <div class="row">
          <img ng-src="assets/images/{{goodCtrl.mainImageUrl}}" class="img-thumbnail col-md-12" alt="">
        </div>
        <div class="row small-imgs">
          <div class="col-md-3" ng-repeat='img in goodCtrl.good.photo'>
            <a href="javascript:void(0)" class="thumbnail" ng-mouseenter='goodCtrl.setImage(img)'>
              <img ng-src="assets/images/{{img}}" class="col-md-12" alt="">
            </a>
          </div>
        </div>
      </div>

      <div class="col-md-5 right">
        <div class="panel panel-info">
          <div class="panel-heading">
            <div class="row">
              {{goodCtrl.good.commodity.name}}

            </div>
            <div class="row">
              {{goodCtrl.good.commodity.description}}
            </div>
          </div>
          <div class="panel-body">
            <div class="row price1">
              <div class="col-md-4 text-right">
                <span class="msg">零售价</span>:

              </div>
              <div class="col-md-8 text-left">
                <span class="num">￥{{goodCtrl.good.commodity.vipPrice}}</span>
              </div>
            </div>
            <div class="row price2">
              <div class="col-md-4 text-right">
                <span class="msg">批发价</span>:

              </div>
              <div class="col-md-8 text-left">
                <span class="num">￥{{goodCtrl.good.commodity.originalPrice}}</span>

              </div>
            </div>
            <div class="row price">
              <div class="col-md-4 text-right">
                <span class="msg">商品评价</span>:
              </div>
              <div class="col-md-8 text-left">
                <div class="pingjia">
                  <span class="glyphicon glyphicon-star" ng-repeat='i in getNumber(goodCtrl.good.commodity.startDegree) track by $index'></span>
                  <span class="pingjiaNum">（{{goodCtrl.good.commodity.comment}}</span>条评论）
                </div>

              </div>
            </div>

            <div class="row count">
              <div class="col-md-4 text-right">
                <span class="msg">购买数量</span>:
              </div>
              <div class="col-md-8 text-left">
                <input type="number" name="name" value="" ng-model='goodCtrl.goodNum'>

              </div>
            </div>

            <div class="row panel-footer panel-info">
              <div class="btn-group btn-lg">
                <a href='javascript:void(0)' class="btn btn-primary btn-lg" id="addCart" ng-click='goodCtrl.addCart()'>
                  <span class="glyphicon glyphicon-shopping-cart"></span>
                  加入购物车</a>
                <a href='javascript:void(0)' class="btn btn-primary btn-lg" id="buy" ng-click='goodCtrl.buy()'>立即购买</a>
              </div>
            </div>
          </div>
        </div>

      </div>

      <shop-box></shop-box>
    </div>

    <div class="row row2">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">商品信息</h3>
        </div>
        <div class="panel-body">
          <div class="imgBox" ng-repeat='img in goodCtrl.good.msgPhoto'>
            <a href="javascript:void(0)" class="thumbnail">
              <img ng-src="assets/images/{{img}}" class="">
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="row row3">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">商品评价</h3>
        </div>
        <div class="panel-body">
          <div class="item" ng-repeat='pinglun in goodCtrl.pingluns'>
            <div class="user-title row">
              <span class="name">{{pinglun.name}}</span>

              <span class="time">{{pinglun.time}}</span>
            </div>
            <div class="user-pingfen row">
              <span class="msg col-md-2">商品评分：</span>
              <div class="pingjia col-md-5 text-left">
                <span class="glyphicon glyphicon-star" ng-repeat='i in getNumber(pinglun.pingfen) track by $index'></span>
              </div>
            </div>
            <div class="detail row ">
              <span class="msg col-md-1">评价详情</span>
              {{pinglun.detail}}
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <nav class="text-center">
            <ul class="pagination pagination-lg ">
              <li class="disabled">
                <a href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li class="active">
                <a href="#">1
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li>
                <a href="#">2</a>
              </li>
              <li>
                <a href="#">3</a>
              </li>
              <li>
                <a href="#">4</a>
              </li>
              <li>
                <a href="#">5</a>
              </li>

              <li>
                <a href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>

        </div>
      </div>
    </div>

  </div>
  <tip-box></tip-box>
  <footer-nav></footer-nav>
</div>
