.myorders-div{
	


/*order-div的css样式*/
/*order-div的css样式*/

	.imgsize{
    max-width: 212px;
    max-height: 75px;
   }

   .top{
		width: 100%;
		margin:2px auto;	
		overflow: hidden;
		
	}

	.header_left{
		padding: 2px;
		float:left;
	}
	
	.header_right{
		text-align: center;
		font-size: 18px;
		float:left;	
		position: relative;
		left: 35%;
	}

	.header_right li{
		
		float: left;
	}
	
	.header_right i{
 		font-size: 20px;
		padding: 2px;
		display: inline-block;
	}
	

	 .current{
	    /*background-color: #23c4e7;*/
	    color: #23c4e7;
	}

	.main{
		
		width:100%;
		margin:2px auto;		
		/*background-color: red;*/

	}

	.main h1{
		font: lighter 24px/30px arial,"microsoft yahei";
    	color: #555;
	}

	.main p{
		font: 12px/20px arial,"microsoft yahei";
    	color: #AAA;
	}


	.receive{
		border:1px solid #ccc; border-left:none;border-right:none;
		
	}

	.receive-box{
		padding: 10px;
		margin:2px;
	}
	
	.receive-box dl dt{
		font: lighter 14px/20px arial,"microsoft yahei";
		padding: 10px;
	}

	.receive-box dl dt input{
		font: lighter 14px/20px arial,"microsoft yahei";
		margin: 5px;
	}

	.input1{
		width: 130px;
	}

	.address{
		width:470px;
	}
	.receive:hover{
		background-color: #f2f1e5;

	}

	.payment{
		border:1px solid #ccc; border-left:none;border-right:none;
	}
	.payment:hover{
		background-color: #f2f1e5;

	}

	.receipt{
		border:1px solid #ccc; border-left:none;border-right:none;
	}
	.receipt:hover{
		background-color: #f2f1e5;

	}

	.coupon{
		border:1px solid #ccc; border-left:none;border-right:none;
	}

	.coupon:hover{
		
		background-color: #f2f1e5;
	}


	.cart{
		border:1px solid #ccc; border-left:none;border-right:none;

	}
	.cart h3{
		font: lighter 18px/30px arial,"microsoft yahei";
    	color: #555;
	}

	.cart h3 a{
		color: blue;
	}
	.cart h3 a:hover{
		color: red;
	}
	
	.main h3{
		margin: 5px;
		font: lighter 18px/30px arial,"microsoft yahei";
    	color: #555;

	}

	.main h3 a{
		color: blue;
		font: lighter 15px/30px arial,"microsoft yahei";
	}

	.main h4{
		font: lighter 15px/30px arial,"microsoft yahei";
    	color: #555;

	}

	.table_title th{
		
		margin-left: 5px;
		font-size: 15px;	
		padding: 1px 1px;
		
	}

	.imgsizes{
    width: 120px;
    height: 120px;
   }

	.header_left{
		padding: 2px;
		float:left;
		
	}

	.top{
		width: 100%;
		margin:2px auto;	
		overflow: hidden;
		
	}
	
	.header_right{
		text-align: center;
		font-size: 18px;
		float:left;	
		position: relative;
		left: 35%;
	}

	.header_right li{
		
		float: left;
	}
	
	.header_right i{
 		font-size: 20px;
		padding: 2px;
		display: inline-block;
	}

    .current{
	    /*background-color: #23c4e7;*/
	    color: #23c4e7;
	}

 	.header_left{
		padding: 2px;
		float:left;
	}

	.main{
		
		width:100%;
		margin:2px auto;		
		/*background-color: red;*/

	}

	.main h1{
		font: lighter 24px/30px arial,"microsoft yahei";
    	color: #555;
	}

	.main p{
		font: 12px/20px arial,"microsoft yahei";
    	color: #AAA;
	}

	.bottom{
		width:100%;
		margin:2px auto;	
		/*background-color: blue;*/
	}
	
	.good_table{
		/*border: #A8A8A8 solid;
    	border-width: 0 1px;*/
    	/*background-color: #F0F0F0;*/

    	width: 100%;
    	border-collapse: collapse;
	    border-style: solid;
	    border-width: 2px 1px;
	    border-color: #AAA #DDD;
	    margin-bottom: 15px;
		
	}

	.good_table thead{
		font-size: 12px;
		background-color: #F0F0F0;
		padding: 10px;
		margin-top: 5px;
		
	}
	
	.table_title th{
		
		margin-left: 5px;
		font-size: 15px;	
		padding: 1px 1px;
		
	}
	
	.store-sale{
		float:right; 
		height: 30px;
	}

	.store-sale em{
		float: left;
  		font-size: 12px;
	    line-height: 14px;
	    color: #FFF;
	    background-color: #090;
	    vertical-align: middle;
	    display: inline-block;
	    height: 20px;
	    padding: 2px 6px;
	    border-radius: 10px;
   		margin-right: 4px;
   		margin-top: 5px;

  }

  	.store-sale p{
  		float: left;
  		margin-right: 4px;
		padding: 2px 1px;
		margin-top: 5px;
  	}

	.good_table tbody{
		background-color:F0F0F0 ;
	}
	
	.good_table tbody .table_middle{
		background-color:#AAA #DDD;;	
		margin-left: 5px;
		font-size: 15px;	
		padding: 3px 3px;
		background-color: #f2f1e5;
	}

	.table_middle td {
	    padding: 8px 2px;
    	text-align: center;
    	vertical-align: middle;
   		border-bottom: solid 1px #DDD
   		
	}

	.table_middle td img{
		max-width: 40px;
    	max-height: 40px;
    	
	}
	
	.table-btn{
		font: 14px/14px Arial;
	    color: #777;
	    text-decoration: none;
	    background-color: #F5F5F5;
	    letter-spacing: normal;
	    word-spacing: normal;
	    text-align: center;
	    vertical-align: middle;
	    padding:3px;    
	    height: 14px;
	    margin: 0 4px;
	    border: solid 1px;
	    border-color: #DCDCDC #DCDCDC #B3B3B3 #DCDCDC;
	    cursor: pointer;
	}

	.table-btn:hover{
		font: 14px/14px Arial;
	    color: #777;
	    text-decoration: none;
	    background-color: #127314;
	    letter-spacing: normal;
	    word-spacing: normal;
	    text-align: center;
	    vertical-align: middle;    
	    padding:3px;  
	    height: 14px;
	    margin: 0 4px;
	    border: solid 1px;
	    border-color: #DCDCDC #DCDCDC #B3B3B3 #DCDCDC;
	    cursor: pointer;
	}

	.inputer{
		font: 12px/20px Tahoma;
	    color: #777;
	    background-color: #FFF;
	    vertical-align: middle;
	    display: inline-block;
	    height: 20px;
	    padding: 2px 4px;
	    border: solid 1px #CCC;
	    outline: 0 none;
	    width: 25px;
	}

	.opration{
		
	/*	font-size: 15px;
		color:red;*/
	}

	.sum{
		font: normal 15px/50px "microsoft yahei", Arial;
		float: right;
		padding: 5px;
	}

	.total_sum{
		font: normal 20px/50px "microsoft yahei", Arial;
    	margin-right: 20px;
		float: right;
		
	}
	.total_sum_font{
		color:red;
		font-size: 28px;
	}
	

	.table_foot{
		background: #f6fff5;;
		padding: 10px;
		
	}
	.table_middle td a{
		width: 90%;
		line-height: 12px;
		overflow: hidden;
		
	}

	.cart-submit{
		height: 50px;
		width:100%;
		position: relative;
		left:0;

	}
	.cart-submit-right{
		height: 50px;
		width:100%;
		
		
	}

	.btn-cart-submit{
		float: right;
		margin: 0 auto;
    	border: 1px solid;
    	color: white;
    	padding: 10px 10px;
    	margin: 15px;
	    font-size: 17px;
	    font-weight: normal;
	    font-family: "Microsoft Yahei","微软雅黑",SimHei,"黑体","Hiragino Sans GB",STHeiTi,sans-serif;  
	    cursor: pointer;
	    background-color: #2F96B4;
    	border-color: #2A87A2 #2A87A2 #237087 #2A87A2;
	}

	.btn-cart-submit:hover{
		
		margin: 0 auto;
    	border: 1px solid;
    	color: white;
    	padding: 10px 10px;
    	margin: 15px;
	    font-size: 17px;
	    font-weight: normal;
	    font-family: "Microsoft Yahei","微软雅黑",SimHei,"黑体","Hiragino Sans GB",STHeiTi,sans-serif;  
	    cursor: pointer;
	    background-color: #17BCCF;
    	border-color: #2A87A2 #2A87A2 #237087 #2A87A2;
	}
		

	.good_table tbody .table_head{
		background-color:#DAF0FE ;
	}
	
	.table_head a{
		margin-left: 5px;
		margin-top: 5px;		
	}

	.bottom .title h4{
	font: 12px/20px arial, "microsoft yahei";
    height: 10px;
    padding: 10px 10px;
    
}

	.container .bottom .title{
	/*background-color: #FFF;
	height: 20px;
	padding: 5px 10px;
	border-bottom: solid 2px #D93600;*/
	}

	.bottom_good li{
		
		/*display: inline-block;*/	
		text-align: center;
	}

	.bottom_box{
		width:220px;
		height: 220px;
		float: left;
		

	}

	.bottom_box p{
		text-align: center;
		
	}

	.bottom_font1{
		font-family: "Microsoft Yahei","微软雅黑",SimHei,"黑体","Hiragino Sans GB",STHeiTi,sans-serif;
    	font-size: 12px;
    	color: blue;
    	line-height: 18px;
		white-space: pre-wrap;
		height: 36px;
		width: 90%;
		overflow: hidden;
		margin: 8px auto;
	}

	.bottom_font2{
		font-weight: 600;
    	color: #D93600;
    	height: 12px;
	}


	.btn-add {
   
    border: 1px solid #E6E6E6;
    padding: 10px 10px;
    margin: 10px;
    font-size: 15px;
    font-weight: normal;
    font-family: "Microsoft Yahei","微软雅黑",SimHei,"黑体","Hiragino Sans GB",STHeiTi,sans-serif;
    color: #fff;
    
    background: #D93600;
    cursor: pointer;
    
  }
  .btn-add:hover {
    
    border: 1px solid #E6E6E6;
    padding: 10px 10px;
    margin: 10px;
    font-size: 15px;
    font-weight: normal;
    font-family: "Microsoft Yahei","微软雅黑",SimHei,"黑体","Hiragino Sans GB",STHeiTi,sans-serif;
    color: #fff;
    
    background: #BB0000;;
    cursor: pointer;
    
  }

  .tatol_shop_sum{
  	color: #37839A;
    font-weight: 600;
  }

  .required{
  	color:red;
  }

  .tip{
	position: relative;
	left: 9%;

  }

  .coupon a{

  	font: 15px/20px arial,"microsoft yahei";
  	color:blue;
  	display: inline-block;
  }

  .coupon h4{
  	margin: 0px !important;
	font: 15px/20px arial,"microsoft yahei";
  	display: inline-block;
  }



/*order-div的css样式*/
/*order-div的css样式*/

	 #myorders_header{
		background-color: #e7484c;
    	height: 57px;
    	width: 101%;
	 }  

	#myorders_header .waper {
	    width: 1200px;
	    margin: auto;
	} 

	#myorders_header .waper h1 {
    	padding: 20px 20px 30px 0;
    	font-size: 1.5em !important;
	}
	
	#myorders_header .waper ul.menu li {
	    color: #ffffff;
	    font-size: 12px;
	    padding: 30px 10px 10px;
	    float: left;
	}

	#myorders_header .waper ul.menu li a, #myorders_header .waper ul.menu li a:hover {
	    color: #ffffff;
	    text-decoration: none;
	    margin-top: 5px;
	}

	.pull-left {
    	float: left;
	}

	.waper h1 a, .waper h1 a:hover{
		
    	color: #ffffff;
	    font-size: 28px;
	    font-weight: bold;
	    text-decoration: none;
	    padding: 5px;
	    margin-bottom: 5px;

	}

	#myorders_header .waper .search {
    	padding: 15px 80px 15px;
	}
	
	.pull-right {
	    float: right;
	    position: relative;
	}

	#myorders_header .waper .guide {
   
	    height: 20px;
	    margin: 20px;
	    width: 107px;
	}

	.pull_right a{
		font:  13px/48px arial,"microsoft yahei";
	    margin: 10px;
	    display: inline-block;
	    position: absolute;
	    right:0px;
	   
	}

	.pull_right form{
		display: inline-block;
	}
	
	
	.main_left{
		width:15%;
		height:100%;
		/*background-color: red;*/
		float: left;
		
	    margin-top: 10px;
	    overflow: hidden;
	    
	    background: #ffffff;
	    border: 1px solid #dddddd;
		
	}

	.main_right{
		width: 83%;
		height: 100%;
		/*background-color:yellow;*/
		float:left;
		margin:5px;
		
	}

	.main_right_title p{
		box-shadow: 0 1px 0 rgba(255,255,255,1);
		font:  15px/40px arial,"microsoft yahei";
	
	}

	.main{
		background-color: black;      
		widows: 100%;
		height: 100%;
	}

	.business-intro {

	    width: 100%;
	    padding-bottom: 10px;
	    margin: 10px;
	    /*border-bottom: solid 1px #D5E5F5;*/
	    box-shadow: 0 1px 0 rgba(255,255,255,1);
	}

	.business-intro li{
		font:  15px arial,"microsoft yahei";
		padding: 8px;
	}
	
	.table_title tr th{
		padding: 5px;
		font-weight: 600;
   		color: #333;
	}




}