$c3: #FE3C32;
$c4: #2C2C2C;
$h2: 45px;
$w1: 240px;
@mixin makeLi1 {
  list-style: none;
  float: left;
  height: $h2;
  box-sizing: border-box;
}
@mixin makeLi2 {
  height: $h2;
  box-sizing: border-box;
  list-style: none;
  background: $c4;
  line-height: $h2;
  &:hover {
    background: #000;
  }
}

.all-category {
  position: relative;
  border-bottom: 2px solid $c3;
  a {
    text-decoration: none;
    &:hover {
      color: rgb(146, 147, 153);
    }
  }
  .ico {
    margin: 10px 20px;
  }
  .title {
    position: relative;
    height: $h2;
    width: $w1;
    line-height: 45px;
    background-color: $c3;
    .ico {
      margin-left: 0;
    }
    a {
      font-weight: bold;
      color: #FFF;
      font-size: 15px;


      &:hover .category {
          background: $c3;
      }
    }
    .caret {
      float: right;
      margin-top: 20px;
    }
  }

  .category {
    position: absolute;
    top: $h2+(-2px);
    width: $w1;
    padding: 0;
    border: none;
    font-size: 0;
    z-index: 999;
    li {
        cursor: pointer;
      @include makeLi2;
      a {
        color: #fff;
        font-size: 14px;
        text-decoration: none;
        vertical-align: top;
      }
    }

  }
  .site-menu li {
    .active {
        color: red;
    }
    @include makeLi1;
    a {
      font-size: 16px;
      font-weight: bold;
      line-height: 45px;
      color: #393333;
      height: $h2;
      padding: 0 20px;
      border: none;
      display: inline-block;
      zoom: 1;
    }
  }
}
