<div class="footer-back">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-3">
                        <h3>购物指南</h3>
                        <ul>
                            <li><a href="#">礼品卡的购买与使用</a></li>
                            <li><a href="#">无法收到邮件？</a></li>
                            <li><a href="#">关于捷信分期</a></li>
                            <li><a href="#">邮费制度</a></li>
                            <li><a href="#">订单状态说明</a></li>
                        </ul>
                    </div>

                    <div class="col-md-3">
                        <h3>支付方式</h3>
                        <ul>
                            <li><a href="#">支付问题</a></li>
                            <li><a href="#">在线支付</a></li>
                            <li><a href="#">货到付款</a></li>
                            <li><a href="#">邮费制度</a></li>
                            <li><a href="#">营销推广</a></li>
                        </ul>
                    </div>

                    <div class="col-md-3">
                        <h3>配送与服务</h3>
                        <ul>
                            <li><a href="#">申请售后退款说明</a></li>
                            <li><a href="#">取消订单退款说明</a></li>
                            <li><a href="#">装机与维修服务</a></li>
                            <li><a href="#">退换货流程</a></li>
                            <li><a href="#">第三方配送</a></li>
                        </ul>
                    </div>

                    <div class="col-md-3">
                        <h3>商家入驻</h3>
                        <ul>
                            <li><a href="#">小米鸽（兼职招商专员）</a></li>
                            <li><a href="#">广告位管理与流程申报</a></li>
                            <li><a href="#">活动组织与流程申报</a></li>
                            <li><a href="#">如何发货</a></li>
                            <li><a href="#">我要开店</a></li>
                        </ul>
                    </div>
                </div>

            </div>

            <div class="col-md-3 kefu">
                <h3>客服中心</h3>
                <div class="tel"><img src="assets/images/home/call.gif" alt="" /><span class="num">4006-780-781</span></div>
                <p class="email">E-mail：mmloo@mmloo.com</p>
                <p class="address">四川省成都市新南路亚华大厦六楼</p>
                <p class="qq"><img src="assets/images/home/qq_index.gif" alt="" /><span class="num">4006780781</span></p>
            </div>
        </div>

        <div class="row">
            <div class="links">
                <a rel="nofollow" target="_blank" href="#"> 关于我们</a>|
                <a rel="nofollow" target="_blank" href="#">联系我们</a>|
                <a rel="nofollow" target="_blank" href="#">人才招聘</a>|
                <a rel="nofollow" target="_blank" href="#">商家入驻</a>|
                <a rel="nofollow" target="_blank" href="#">广告服务</a>|
                <a rel="nofollow" target="_blank" href="#">手机米米乐</a>|
                <a style="" target="_blank" href="#" >招聘英才</a>|
                <a style="" target="_blank" href="#">米商</a>|
                <a style="" target="_blank" href="#">8.8包邮</a>

            </div>
            <div class="copyright">© 2016  www.mmloo.com 版权所有</div>
        </div>
        <div class="row text-center footer-bottom">
            <a href="#" class="text-center">
                <img src="assets/images/home/cxlogo.png" class="" alt=""/>
            </a>
        </div>

    </div>

</div>
