.login-div {
  .img-size {
    max-width: 212px;
    max-height: 75px;
  }
  .logo-title {
    position: relative;
    left: 330px;
    float: left;
    height: 30px;
    line-height: 30px;
    font-size: 25px;
    color: #000;
    border-left: solid 1px #bbb;
    margin-left: 25px;
    padding-left: 25px;
    padding-bottom: 25px;
    margin-top: 34px;
  }
  .login-mid {
    width: 950px;
    overflow: hidden;
    position: relative;
    left: 20%;
  }
  .login-left {


    width: 450px;
    height: 350px;
    /*position: relative;*/
    /*left:15%;*/
    float: left;
  }
  .login-right {

    border: #A8A8A8 solid;
    border-width: 0 1px;
    width: 400px;
    height: 350px;
    float: left;
    background-color: #F0F0F0;
  }
  .btn {
      display: block;
      width: 100%;
    margin: 0 auto;
    border: 1px solid #E6E6E6;
    padding: 10px 90px;
    font-size: 17px;
    font-weight: normal;
    font-family: "Microsoft Yahei","微软雅黑",SimHei,"黑体","Hiragino Sans GB",STHeiTi,sans-serif;
    color: #fff;
    background: green;
    cursor: pointer;

  }

    .btn:hover{
    margin: 0 auto;
    border: 1px solid #E6E6E6;
    padding: 10px 90px;
    font-size: 17px;
    font-weight: normal;
    font-family: "Microsoft Yahei","微软雅黑",SimHei,"黑体","Hiragino Sans GB",STHeiTi,sans-serif;
    color: #fff;
    background: #98e298;
    cursor: pointer;
  }
  .login-input input {
    font-family: "微软雅黑";
    font-size: 16px;
    border: 1px solid #E6E6E6;
    padding: 10px 100px;
    margin: 10px;
    border: 2px solid #E6E6E6;
  }
  .login-input h3 {
    font-size: 18px;
    font-family: "microsoft yahei";
    font-weight: 700;
    line-height: 20px;
    padding: 15px 0 25px 25px;
    color: #555;
  }

  .links {

      padding-top: 30px;
      padding-bottom: 5px;
      font-size: 15px;
      text-align: center;
      color: #999;
      padding-bottom: 10px;
  }

  .copyright{

      padding-bottom: 15px;
      font-size: 15px;
      text-align: center;
      color: #999;
  }

  .alert {
      margin: 0 10px;
  }

  button[disabled], input[disabled] {
    cursor: default;
    background: #ccc;
    &:hover {background: #ccc;}
}
}
