.order_completion-div{

	.imgsize{
    max-width: 212px;
    max-height: 75px;
   }

	.top{

		width: 100%;
		padding: 10px;
	}


	.main i{
		font-size: 150px;
	}

	.main img{

	}

	.main{

		font: 100 36px/48px arial,"microsoft yahei";
	    color: #555;
	    background-color: #FFF;
	    text-align: center;
	    width: 100%;
	    border: solid 1px #E6E6E6;
	    margin-bottom: 10px;
	    padding: 120px 0;

		.success {
			color: rgb(23, 241, 12);
		}

		.error {
			color: rgb(250, 0, 37);
		}
	}

}
