<div class="shopBox-div">
  <div class="col-md-3">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">官方店铺</h3>
      </div>
      <div class="panel-body">
        <div class="shopAll row">
          <div class="col-md-4 text-center">
            <span class="msg all">综合评分</span>
          </div>
          <div class="col-md-3">
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                <span class="sr-only">60% Complete</span>
              </div>
            </div>

          </div>
          <div class="col-md-4 msg text-left">
            <span class="num">
              {{shop.pingfen.all}}

            </span>
            分
          </div>
        </div>

        <div class="change row">

          <div class="title">店铺动态评分</div>

          <div class="item">
            <span class="msg">描述相符</span>
            <span class="num">{{shop.pingfen.miaoshu}}</span>
            分
          </div>
          <div class="item">
            <span class="msg">服务态度</span>
            <span class="num">{{shop.pingfen.serve}}
            </span>分</div>
          <div class="item">
            <span class="msg">发货速度</span>
            <span class="num">{{shop.pingfen.speed}}</span>
            分</div>
        </div>

        <div class="contact row">
          联系方式
          <a href="javascript:void(0)">
            <span class="glyphicon glyphicon-envelope"></span>
          </a>
          <a href="javascript:void(0)">
            <span class="glyphicon glyphicon-envelope"></span>
          </a>
          <a href="javascript:void(0)">
            <span class="glyphicon glyphicon-envelope"></span>
          </a>
        </div>

        <div class="address row">
          <div class="item">
            <span class="msg">公司名称</span>
            <span>{{shop.name}}</span>
          </div>
          <div class="item">
            <span class="msg">所在地</span>
            <span >{{shop.address.province}}</span>
            <span >{{shop.address.city}}</span>
            <span >{{shop.address.area}}</span>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <a href="javascript:void(0)" class="btn btn-primary">进入店铺</a>
        <a href="javascript:void(0)" class="btn btn-primary">收藏店铺</a>
      </div>
    </div>
  </div>
</div>
